<h1>Create a Deployment Ticket</h1>
<fieldset>
  <%= form_for @deployment do |f| %>
    <% options = options_from_collection_for_select(@applications, 'id', 'name') %>
    Application: <%= f.select :application_id,  options %><br />
    Deployment Date: <%= f.date_select :deployment_date %><br />

    <%= f.submit %>
  <% end %>
</fieldset>
